body{
    font-family: 'Special Elite', cursive;
    background-color: rgb(157, 150, 150);
}

.header_div
 {
 background-color: grey;
 color:cadetblue;
 }
 
 .header_div p{
    font-family: 'Roboto', sans-serif;
    color: grey;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
 }

#button 
{
    font-family: 'Roboto', sans-serif;
    color: black;
    margin-top: 30px;
    width: 125px;
    font-weight: bolder;
    letter-spacing: 2px;
}
.footer 
{
    position: fixed;
    color: black;
    bottom:0;
    width:100%;
    font-size: 20px;
    background-color: gray;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px blanchedalmond;

}
